<%- include('header.ejs') %>
<body class="bg-secondary text-light">
    
    <div class="container mt-4 bg-info rounded py-2 border border-dark border-2">
        <form action="/handle" method="POST" class="form-group" enctype="multipart/form-data">
            <div class="d-flex justify-content-center my-2">
                <input type="text" name='title' class="form-control w-50 ">
            </div>
            <div class="d-flex justify-content-center my-2">
                <input type="file" name='filee' class=" overflow-hidden btn btn-dark text-light w-50" >
            </div>
            <div class="d-flex justify-content-center my-2">
                <button class="btn btn-dark btn-outline-light"> ADD</button>
            </div>
        </form>
    </div>
    <div class="container my-3">
        <div class="row">
            <% for(i=0 ; i<result.length ; i++) {%>
            <div class="col-md-4  text-dark ">
                <div class="item bg-light rounded-lg ">
                    <img src="<%= result[i].file%>" alt="" class="img-fluid">
                    <h1 class="text-center "><%=result[i].title%></h1>
                    <div class="d-flex justify-content-end ">
                        <a href="/delete/<%=result[i]._id%>" class="btn btn-dark btn-outline-info mr-2">DELETE</a>
                        <a href="/edit/<%=result[i]._id%>" class="btn btn-dark btn-outline-info">Edit</a>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>

<%- include('footer.ejs') %>